*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body
{
  font-family: 'Roboto', sans-serif;
}
h1
{
  margin-top: 22%;
  color: white;
  text-shadow: 4px 4px #111111;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
h2
{
  margin-top: 50px;
  font-size: 50px;
  text-align: center;
}
nav
{
  background: #3f5041;;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 1000;
}
nav ul
{
  display: flex;
  justify-content: end;
  margin-right: 20px;
  list-style: none;
}
nav ul li
{
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
}
nav ul li a
{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
nav ul li a img
{
  padding-top: 20px;
}
.swiper-container {
  width: 100%;
  height: 800px;

}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/swiper/swiper1.jpeg');
}
.title
{
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 85px;
  background-color: #fff;
  z-index: 2;
}
.title h2
{
  margin-top: 14px;
}
#vacancy
{
    position: relative;
}  
#vacancy .backgroundDiv
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.775;
  background-image: url(../images/simplegrass.jpg);
  background-size: cover;
}
.vacancyList
{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 180px;
}
.cardVacancy
{
  position: relative;
  width: 370px;
  height: 470px;
  background-color: #fff;
  margin: 20px;
  border-radius: 15px;
}
.cardVacancy .imgVacancy img
{
  width: 370px;
  height: 250px;
}
.contentVacancy h3
{
  text-align: center;
  font-size: 24px;
  padding-top: 84px;
}
#offer
{
  position: relative;
  margin: 70px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#offer .backgroundDiv
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.775;
  background-image: url(../images/widegrass.jpg);
  background-size: cover;
}
#offerList
{
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
}
#offerList ul
{
  list-style: none;
  margin-right: 20px;
}
#offerList ul li
{
  padding: 10px 0;
  width: 580px;
  height: 45px;
  background: #84b637;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
#offerList ul li img
{
  width: 30px;
  height: auto;
}
#offerList ul li:hover
{
  transform: scale(1.1);

}
#offerList ul li:hover span
{
  font-size: 24px;
}
#offerList ul li span
{
  font-size: 24px;
  padding-left: 10px;
  font-weight: bold;
}
.imgOffer img
{
  position: relative;
  width: 400px;
  height: auto;
  z-index: 2;
  margin: 10px 20px;
}
#aboutUs
{
  position: relative;
  margin: 40px 50px;
  background-color: #344814;
  opacity: 1.1;
}
#aboutUs .backgroundDiv
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.275;
  background-image: url(../images/aboutus.png);
  background-size: 100% auto;
}
#aboutUsContent
{
  padding: 20px;
  font-size: 22px;
  line-height: 50px;
  color: #fff;
}
.partner li
{
  margin-left: 40px;
}
#response
{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 40px;
}
#response .responseCard
{
  position: relative;
  max-width: 450px;
  height: 400px;
  background: #44722f;
  margin: 10px;
  padding: 15px;
  display: flex;
  overflow: hidden;
}
#response .responseCard:hover
{
  height: auto;
}
#response .responseCard .imgResponse
{
  max-width: 150px;
  flex: 0 0 150px;
  margin-top: 10px;
}
#response .responseCard .imgResponse img
{
  width: 100%;
  height: auto;
}
#response .responseCard .contentResponse
{
  margin-left: 20px;
  color: #fff;
}
#response .responseCard .contentResponse h2
{
  font-size: 28px;
  margin: 10px;
}
#response .responseCard .contentResponse p
{
  font-size: 18px;
}
footer
 {
   display: flex;
   height: 80px;
   width: 100%;
   justify-content: space-evenly;
   align-items: center;
   color: #fff;
   background: #111111;
   font-size: 18px;
 }
@media (max-width: 1200px)
{
  #offer
  {
    flex-direction: column;
  }
  .swiper-container
  {
    height: 500px;
  }
  h1{
    font-size: 55px;
  }
}
@media (max-width: 760px)
{
  nav{
    height: 125px;
  }
  nav ul{
    justify-content: flex-start;
    flex-wrap: wrap;

  }
  nav ul li{
    line-height: 50px;
  }
  .swiper-container{
    margin-top: 130px;
  }
  .swiper-slide{
    background-size: 100% auto;
  }
  #response
  {
    justify-content: center;
  }
  #response .responseCard
    {
      flex-direction: column;
      width: 350px;
      justify-content: center;
      height: auto;
    }
  #response  .responseCard .imgResponse
    {
      max-width: 100%;
    }
  footer{
    height: 160px;
    flex-wrap: wrap;
  }  
}
@media (max-width: 650px)
{
  nav ul li a{
    font-size: 16px;
  }
  #offerList ul li
  {
    width: 330px;
    height: 70px;
  }
  #offerList ul li span
  {
    font-size: 18px;
    text-align: center;
    padding-left: 5px;
    margin-top: 10px;
  }
  #imgOffer img
  {
    width: 365px;
    height: auto;
  }
  h2{
    font-size: 45px;
  }
  #aboutUs{
    margin: 20px 25px;
  }
  #aboutUsContent
  {
    padding: 15px;
    font-size: 16px;
    line-height: 35px;
  }
  .swiper-container
  {
    height: 265px;
  }
}
@media (max-width: 410px)
{
  nav{
    height: 145px;
  }
  nav ul{
    margin-right: 5px;
  }
  nav ul li{
    line-height: 40px;
  }
  nav ul li a{
    font-size: 16px;
  }
  .swiper-container{
    margin-top: 160px;
  }
  .swiper-slide{
    background-size: 100% auto;
  }
  h1{
    font-size: 30px;
    margin-top: 82%;
  }
  h2{
    font-size: 35px;
  }
  .cardVacancy{
    width: 330px;
  }
  .cardVacancy .imgVacancy img{
    width: 330px;
  }
  #response .responseCard{
    margin: 5px -20px;
  }
  footer{
    height: 180px;
  }
}
@media (max-width: 352px)
{
  nav{
    height:  225px;
  }
  .swiper-container{
    margin-top: 235px;
  }
}

